* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLE */
.linkItem {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: #474646;
}


/* JUMBOTRON */

.jumbotron {
    height: 450px;
    background-size: cover;
    background-image: url("/assets/images/jumbotron.jpg");
    margin-top: 20px;
}